<form action="/Create" method="post">
        <h2>Adres Ekle</h2>
        <div>
            <label  for="Adress">Adres Giriniz</label>
            <input id="Adress" type="text" name="Adress">
        </div>
         <div>
            <label  for="Country">Ülke Giriniz</label>
            <input id="Country" type="text" name="Country">
        </div>
         <div>
            <label  for="City">Şehir Giriniz</label>
            <input id="City" type="text" name="City">
        </div>
       
    <input type="submit" name="" id="" value="gönder">


</form>